# macOS system files
.DS_Store

# Node modules
node_modules/

# Output / build
dist/
build/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
expo-error.log

# Expo generated
.expo/
.expo-shared/
.easl/
.expo-go

# EAS project metadata (project linking info)
.eas/

# React Native Android/iOS
ios/build/
android/app/build/
android/.gradle/
android/.idea/

# Kotlin / Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# IDE/editor folders
.vscode/
.idea/

# Metro
.cache/
.metro-health-check*
babel-loader-cache/

# Expo env typings
expo-env.d.ts

# Example apps / test files
app-example

# Google services
google-services.json
